/* body {
 color: white;
} */

.upperpart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #82d4fa;
    height: 170px;
}

.box {
 width: 97%;
 margin: auto;
 border: 2px solid;
 background-color: #82d4fa;
}

.innerbox1 {
    height: 40px;
    padding: 3px 0 3px 10px;
    display: flex;
    justify-content: space-between;
}

.innerbox {
    background-color: gray;
    height: 40px;
    padding: 3px 0 3px 10px;
    display: flex;
    justify-content: space-between;
}

.flag {
    width: 140px;
    height: 150px;
}

.arrow {
    margin: 0 15px;
}